<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../../reset.css">
    <link rel="stylesheet" href="./treefolder.css">
</head>
<body>
    <div id="tree-folder" class="tree-folder">
          <div class="tree-header">
            <div class="folder-name">
                <i class="fa-solid fa-chevron-down"></i>
                <span>VS CODE</span>
            </div>
            <div class="folder-action">
              <button class="action-btn" title="New file...">
                <i class="fa-solid fa-file-circle-plus"></i>
              </button>
              <button class="action-btn" title="New folder...">
                <i class="fa-solid fa-folder-plus"></i>
              </button>
              <button class="action-btn" title="Cosllapse folder">
                <i class="fa-solid fa-minus-square"></i>
              </button>
            </div>

          </div>
          <!-- <ul class="treefolder-menu">
            <li class="treefolder-item">
                <i class="fa-solid fa-chevron-down"></i>
                <span>Folder1</span>
            </li>
             <li class="treefolder-item file-item">
                <i class="fa-brands fa-js" style="color: yellow; rotate: 0deg;"></i>
                <span>Folder1</span>
            </li>
          </ul> -->
        </div>
        <script type="module" src="./treefolder.js"></script>
</body>
</html>